/house_purchase/HouseAsset/target/
/house_purchase/HouseAsset/test_snapshots/
/house_purchase/HouseAsset/Cargo.lock

/house_purchase/HousePurchase/target/
/house_purchase/HousePurchase/test_snapshots/
/house_purchase/HousePurchase/Cargo.lock

/investment/target/
/investment/test_snapshots/
/investment/Cargo.lock

/paid_account/target/
/paid_account/test_snapshots/
/paid_account/Cargo.lock

/crypto_deposit/target/
/crypto_deposit/test_snapshots/
/crypto_deposit/Cargo.lock

/ballot/target/
/ballot/test_snapshots/
/ballot/Cargo.lock

/.vscode/
/docs/